@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");
/* //////////////////////COSAS PAGINA GENERAL////////////////////// */
* {
  font-weight: bold;
  margin: 0;
  padding: 0;
  min-width: 0;
  box-sizing: border-box;
}
.logo {
  color: #ffffff;
  font-weight: bold;
}
.fondoportafolio {
  background: rgb(132, 0, 255);
  background: linear-gradient(
    0deg,
    rgba(132, 0, 255, 1) 0%,
    rgba(22, 21, 21, 0.9920168751094187) 26%
  );
  background: rgb(132, 0, 255);
  background: linear-gradient(
    0deg,
    rgba(132, 0, 255, 1) 0%,
    rgba(22, 21, 21, 0.9920168751094187) 15%
  );
}
.p-footer {
  font-size: small;
  font-family: sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.main {
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}
h1 {
  font-size: 3rem;
}
.col {
  background-color: rgb(255, 255, 255);
}
/* //////////////////////COSAS PAGINA GENERAL////////////////////// */
/* //////////////////////INICIO////////////////////// */
.descarga-cv {
  padding: 10px 20px;
  background-color: rgb(132, 0, 255);
  border: none;
  border-radius: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.main img {
  /*border: 4px solid rgb(132, 0, 255);*/
  border-radius: 20px;
  height: 520px;
  box-shadow: 0 0 80px rgba(245, 244, 244, 0.1);
}
.main img {
  /*border: 4px solid rgb(132, 0, 255);*/
  border-radius: 20px;
  height: 520px;
  box-shadow: 0 0 80px rgba(245, 244, 244, 0.1);
}
.h1-inicio {
  color: #fff;
  display: flex;
}
.textoindex {
  text-align: left;
}
.span-godoy {
  display: block;
}
/* //////////////////////INICIO////////////////////// */

.p-footer {
  color: white;
}

#navbarNav {
  padding-left: 50px;
  justify-content: end;
}
.p-main {
  color: white;
  text-align: left;
}

.navcolortext {
  padding-left: 30px;
  color: rgb(2, 2, 2);
  text-decoration: none;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  padding-left: 10px;
}
.g {
  color: rgb(132, 0, 255);
}
.footer-principal {
  padding-top: 10px;
}

/* PAGINA CONTACTO CSS */

.body-contacto {
  height: 100vh;
  background-color: #191c32;
}

.container-contacto {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contacto-form {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: rgb(132, 0, 255);
  color: rgb(0, 0, 0) 313;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* PAGINA CONTACTO CSS */

/* PAGINA QUIEN SOY CSS */

.body-quiensoy {
  height: 100vh;
  background-color: #191c32;
}
.container-quiensoy {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(245, 244, 244, 0.1);
}
.about-me {
  background-color: rgba(132, 0, 255);
  max-width: 850px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(193, 154, 245, 0.11);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.h1-quiensoy {
  color: rgb(132, 0, 255);
}

.p-quiensoy {
  line-height: 1.2;
  color: #979090;
  font-weight: bold;
}

.footer-quiensoy {
  padding-top: 430px;
}

.h2-quiensoy {
  color: white;
}

/* PAGINA QUIEN SOY CSS */

/* PAGINA PORTAFOLIO CSS */
.card-img-top {
  border-radius: 20px;
  padding: 20px;
}
.card {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card-body {
  padding: 25px;
  margin-top: -15px;
}
.btn-primary {
  border-radius: 50px;
  width: 120px;
}
.btn-primary:hover {
  background-color: black;
  border: none;
}

.h1-proyectos1 {
  color: white;
}

.body-portafolio {
  background-color: #191c32;
}

.project {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);
  text-align: center;
}

.footer-portafolio {
  padding-top: 340px;
}

/* PAGINA PORTAFOLIO CSS */
/* CARDS DE PORTAFOLIO CSS */
.card {
  margin-bottom: 20px;
  padding: 20px;
}

/* CARDS DE PORTAFOLIO CSS */

/* PAGINA CONTACTO EXPERIENCIA*/

h3 {
  font-weight: bold;
  color: white;
}

p {
  color: grey;
}

.main-content {
  height: 100vh;
  padding-right: 100px;
}
ul.timeline-3 {
  list-style-type: none;
  position: relative;
}
ul.timeline-3:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline-3 > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline-3 > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid rgb(132, 0, 255);
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
/* PAGINA CONTACTO EXPERIENCIA */

/* MEDIAQUERIES */
/* Celular un poco mas grande para que no se vaya para el costado */
@media (max-width: 765px) {
  .texto-footer {
    padding-right: 110px;
  }
  .container {
    padding-left: 130px;
  }
  .main {
    height: 125vh;
    flex-direction: column;
    display: flex;
  }
  .footer-principal {
    padding-top: 150px;
  }
}
/* tablets */

/* computadoras */
@media (max-width: 1200px) {
}

.loader {
  position: relative;
  overflow: hidden;
  border-right: 3px solid;
  width: 0px;
  animation: typewriter 2s steps(10) infinite alternate,
    blink 0.5s steps(10) infinite;
}

.loader-text {
  font-size: 50px;
  font-weight: 700;
  background: rgb(132, 0, 255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes typewriter {
  0% {
    width: 0px;
  }

  100% {
    width: 190px;
  }
}

@keyframes blink {
  0% {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  100% {
    border-right-color: transparent;
  }
}
