@media (max-width: 768px) {
    .main {
      height: 135vh;
      flex-direction: column;
      display: flex;
      padding-right: 100px;
      font-size: 95%;
    }
  
    .main-portafolio {
      display: flex;
      flex-direction: column;
      padding-left: 45px;
  
  
  }
  }
  
  /* MEDIAQUERIES CELULAR */
  /* MEDIAQUERIES CELULAR */
  /* MEDIAQUERIES CELULAR */
  
  @media (max-width: 480px) {
    .container text-center {
      padding-left: px;
    }
    .container {
      padding-left: 120px;
    }
    .main {
      height: 135vh;
      flex-direction: column;
      display: flex;
      padding-right: 100px;
      font-size: 95%;
    }
  
    .footer-principal {
      padding-top: 150px;
      width: 90vw;
    }
  
    .fotomia {
      width: 170%; /* O el ancho que desees */
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .cardindex {
      width: 70vw; /* El 50% del ancho del viewport */
      height: 60vh; /* El 50% del alto del viewport */
      margin-right: 12rem;/* movimiento hacia la derecha de la foto */
      padding-left: 70px;
    }
  
    #sticky-footer {
      padding-right: 100px;
    }
  }
  
  .main-content {
    padding-right: 95px;
    height: 110vh;
  }
  
  
  /* COSAS PORTAFOLIO */
  /* COSAS PORTAFOLIO */
  /* COSAS PORTAFOLIO */
  
  
  
  .main-portafolio {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
  
    .container{
      padding-left:10px;
      background-color:none;
    
    }
  }
  
  /* COSAS PORTAFOLIO */
  /* COSAS PORTAFOLIO */
  /* COSAS PORTAFOLIO */
  
  
  /* COSAS CONTACTO */
  /* COSAS CONTACTO */
  /* COSAS CONTACTO */
  
  
  
  .fondoportafolio-contacto {
    height: 130vh;
    background: $colorprincipal;
    background: linear-gradient(
      0deg,
      $colorprincipal 0%,
      rgba(22, 21, 21, 0.9920168751094187) 26%
    );
    background: $colorprincipal;
    background: linear-gradient(
      0deg,
      $colorprincipal 0%,
      rgba(22, 21, 21, 0.9920168751094187) 15%
    );
    h1 {
      font-size: 3rem;
    }
  
    .main-contacto {
      padding: 20px;
      height: 105vh;
    }
  }
  
  /* QUIEN-SOY */
  /* QUIEN-SOY */
  /* QUIEN-SOY */
  
  
  .main-quiensoy{
  padding: 20px;
  padding-bottom: 50px;
  
  .about-me {
    padding: 50px;
  }
  }
  
  .fondoportafolio-quiensoy{
    height: 130vh;
    background: $colorprincipal;
    background: linear-gradient(
      0deg,
      $colorprincipal 0%,
      rgba(22, 21, 21, 0.9920168751094187) 26%
    );
    background: $colorprincipal;
    background: linear-gradient(
      0deg,
      $colorprincipal 0%,
      rgba(22, 21, 21, 0.9920168751094187) 15%
    );
    height: 145vh;
    .main-quiensoy{
      padding: 20px;
      height: 90vh;
    }
  }
  
  .texto-footer{
    align-content: center;
  }
  
  .container-quiensoy{
    padding: 20px;
  }
  
  
  /* EXPERIENCIA */
  /* EXPERIENCIA */
  /* EXPERIENCIA */
  .main-experiencia{
    height: 150vh;
  }