.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
  
    .logo {
      color: #ffffff;
      font-weight: bold;
    }
  
    .nav-link {
      font-family: "Montserrat", sans-serif;
      color: rgb(255, 255, 255);
      padding-left: 10px;
    }

    #navbarNav {
        padding-left: 50px;
        justify-content: end;
      }

      .nav-item{
        border-radius: 10px;
        text-decoration: none;
        color: $colorprincipal;
        transition: box-shadow 0.3s, transform 0.3s;

        &:hover {
          border-radius: 12px;
          box-shadow: 0 0 20px;
          transform: translateY(-5px);
          color: $colorprincipal;

        }

      }


  }

  .g {
    color:$colorprincipal;
  }
  
 