* {
    font-weight: bold;
    margin: 0;
    padding: 0;
    min-width: 0;
    box-sizing: border-box;
  }

  h1, h2, h3, h4 {
    text-wrap: balance;
  }

  body {
    min-height: 100dvh;
  }
  p {
    text-wrap: pretty;
  }